<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="{{ url_for('professores')}}">Clique Aqui</a>
    <table>
        <thead>
            <tr>
                <th>Registro Do Aluno</th>
                <th>Aluno</th>
                <th>Registro Da Sala</th>
            </tr>
        </thead>
        <tbody>
            {%for item in result%}
            <tr>
                <td>
                    {{item["Identificação do Aluno"]}}
                </td>
                <td>
                    {{item["Nome"]}}
                </td>
                <td>
                    {{item["Identificação da Sala"]}}
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

</body>

</html>